#parent {
  float:left;
  width:750px;
}

#data_div {
  float:left;
  margin-left:700px;
  padding-left:10px;
  width:350px;
}

#timer_div {

}

#color_stuff {
  margin-top:50px;
}
#checkboxes {
 float:left;
}

#dropdown {
 padding-left: 150px;
}

#timer {
  text-align:center;
}

.time_button {
  width:31%;
  padding-right:5px;
  margin-right:0px;
}

